// ============================================================================
// ICONS
// ============================================================================

//mixin for icons that use svgs:
@mixin icon-svg($name) {
  background: currentColor;
  mask: url("../images/#{$name}.svg") no-repeat center;
  -webkit-mask: url("../images/#{$name}.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  width: 0.9em;
  height: 0.9em;
  vertical-align: -0.125em;
}

[data-icon] {
  &:before {
    font-family: "remixicon" !important;
    content: "";
    display: inline-block;
    margin: 0 0.1em;
  }

  // UI Elements
  &[data-icon="close-large"]:before { content: "\f4c7"; }
  &[data-icon="close-large-line"]:before { content: "\f4c8"; }

  // Toast Information Circles
  &[data-icon="warning"]:before { content: "\eca0"; }
  &[data-icon="warning-line"]:before { content: "\eca1"; }
  &[data-icon="error"]:before { content: "\eb96"; }
  &[data-icon="error-line"]:before { content: "\eb97"; }
  &[data-icon="success"]:before { content: "\eb80"; }
  &[data-icon="success-line"]:before { content: "\eb81"; }
  &[data-icon="info"]:before { content: "\ee58"; }
  &[data-icon="info-line"]:before { content: "\ee59"; }

  // Brands
  &[data-icon="github"]:before { content: "\edca"; }
  &[data-icon="github-line"]:before { content: "\edcb"; }

  $custom-icons: ("tampermonkey");

  @each $icon in $custom-icons {
    &[data-icon="#{$icon}"]:before {
      @include icon-svg($icon);
    }
  }
}

.icon {
  width: 0.8em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

// Status icons
.success-icon {
  @include state-color($green);
}

.error-icon {
  @include state-color($red);
}

.item-status-icon,
.item-method-icon {
  display: inline-block;
  flex-shrink: 0;
}

// Empty state icon
.empty-state-icon {
  font-size: 3em;
  margin-bottom: $spacing-sm;
}
